<div id="default-carousel" class="relative h-full w-full" data-carousel="slide" data-carousel-interval="5000">
  <!-- Carousel wrapper -->
  <div class="relative h-full w-full overflow-hidden">
    @for (group of images(); track $index) {
      <!-- Image Group -->
      <div
        class="flex hidden w-full min-w-full flex-row justify-center overflow-hidden duration-1000 ease-in-out"
        data-carousel-item
      >
        @for (image of group; track $index) {
          <!-- Indiviual Image -->
          <img
            [ngSrc]="image.src"
            width="400"
            height="600"
            class="h-full w-full object-cover object-center px-0 will-change-transform sm:px-2"
            [alt]="image.alt"
          />
        }
      </div>
    }
  </div>
  @if (controls()) {
    <!-- Slider indicators -->
    <div class="absolute bottom-4 left-1/2 z-30 flex -translate-x-1/2 space-x-2 rtl:space-x-reverse">
      @for (group of images(); track $index) {
        <button
          type="button"
          class="h-2.5 w-2.5 rounded-base bg-black/40 hover:bg-black/60"
          [attr.aria-current]="$index === 0 ? 'true' : 'false'"
          [attr.aria-label]="'Slide ' + ($index + 1)"
          [attr.data-carousel-slide-to]="$index"
        ></button>
      }
    </div>
    <!-- Slider controls -->
    <button
      type="button"
      class="group absolute inset-s-0 top-0 z-30 flex h-full cursor-pointer items-center justify-center px-2 focus:outline-none"
      data-carousel-prev
    >
      <span
        class="inline-flex h-8 w-8 items-center justify-center rounded-base bg-black/20 group-hover:bg-black/35 group-focus:ring-4 group-focus:ring-black/20 group-focus:outline-none"
      >
        <svg
          class="h-4 w-4 text-black rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m15 19-7-7 7-7"
          />
        </svg>
        <span class="sr-only">Previous</span>
      </span>
    </button>
    <button
      type="button"
      class="group absolute inset-e-0 top-0 z-30 flex h-full cursor-pointer items-center justify-center px-2 focus:outline-none"
      data-carousel-next
    >
      <span
        class="inline-flex h-8 w-8 items-center justify-center rounded-base bg-black/20 group-hover:bg-black/35 group-focus:ring-4 group-focus:ring-black/20 group-focus:outline-none"
      >
        <svg
          class="h-4 w-4 text-black rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m9 5 7 7-7 7"
          />
        </svg>
        <span class="sr-only">Next</span>
      </span>
    </button>
  }
</div>
