<section
  #parallaxRoot
  class="parallax-root relative overflow-hidden"
  [attr.aria-label]="ariaLabel()"
>
  <div
    class="parallax-background absolute inset-0 bg-cover will-change-transform"
    [style.background-image]="'url(' + backgroundImage() + ')'"
    [style.background-position]="backgroundPosition()"
    [style.transform]="backgroundTransform()"
    [style.height]="backgroundHeight()"
    [style.background-size]="backgroundSize()"
    aria-hidden="true"
  ></div>
  <div class="relative z-10 h-full w-full">
    <ng-content></ng-content>
  </div>
</section>
