:host {
  display: block;
  min-height: var(--parallax-min-height, 100svh);
}

:host(.parallax-h-sm) {
  --parallax-min-height: 70svh;
}

:host(.parallax-h-md) {
  --parallax-min-height: 100svh;
}

:host(.parallax-h-lg) {
  --parallax-min-height: 120svh;
}

:host(.parallax-h-xl) {
  --parallax-min-height: 150svh;
}

:host(.parallax-h-2xl) {
  --parallax-min-height: 180svh;
}

.parallax-root {
  height: inherit;
  min-height: inherit;
}

@media (prefers-reduced-motion: reduce) {
  .parallax-background {
    transform: none !important;
    transition: none;
  }
}
